/*摄影师服务详情专用样式文件*/
/*2015-05-11*/
/*雅痞制作*/


.lvpaizhe-tab {
	text-align: right;
	font-weight: bolder;
}

.lvpaizhe-servers {
	margin-right: 15px;
}

.lp-contact-server {
	padding: 8px;
	background-color: #eee;
	border-radius: 6px 6px 6px 6px;
	margin-top: 18px;
}
